/* -------------------------------------------- Contact section code for desktop devices --------------------------------------------- */

/* Set up the layout for the contact section */
#contact-form-section {
  display: flex;
  height: 70vh;
  align-items: center; 
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
}

/* Change the backgorund color of the contact form */
.container {
  max-width: 450px;
  width: 100%;
  background-color: white;
  padding: 25px 30px; 
  border-radius: 5px;
  margin-left: 10%;
  z-index: 100;
  border: 1px solid #ccc;
  color: #2F70AF;
}

/* Add the background color to display the bookstore information */
.backdrop {
  width: 100%;
  height: 45%;
  position: absolute;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  display: flex;
  justify-content: flex-end;
}

/* Set the design of the content */
.bookstore-info {
  margin-right: 16%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  color: var(--primary-color);
}

/* -------------------------------------------- Contact section code for devices have max-width 1256px --------------------------------------------- */
@media only screen and (max-width: 1256px) {
  
  /* Add the space on the right side */
  .bookstore-info {
    max-width: 300px;
    margin-right: 5%;
  }
}


.heading {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.email, .phone {
  margin: 10px 0;
}

.location span {
  font-size: 20px;
}

.location p {
  margin-top: 10px;
  font-size: 16px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.input-box, .contact-purpose {
  margin-bottom: 15px;
  /* margin: 20px 0 12px 0; */
  width: calc(100%/2 - 20px);
}

.notes {
  width: 100%;
}

.notes textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-box .details , .contact-purpose-title, .receive-newspaper-title {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-box input, #contact-purpose-option{
  height: 45px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all .3s ease;
}

#contact-purpose-option {
  width: 105%;
}

.input-box input:focus, 
.input-box input:valid,
.notes textarea:focus {
  border-color: #9b59b6;
}

.receive-option {
  display: flex;
}

.choice {
  margin: 0 10%;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.submit-btn input[type=submit],
.reset-btn input[type=reset] {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.125); */
  /* box-shadow: 0 20px 20px -5px rgba(0, 0, 0, .125); */
}

.submit-btn input[type=submit] {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
  border: 1px solid white;
}

.reset-btn input[type=reset] {
  border: 2px solid;
  background-color: white;
  color: black;
  border-radius: 10px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);  
}

.submit-btn input[type=submit]:hover, .reset-btn input[type=reset]:hover {
  padding: 16px 40px;
  font-size: 18px;
}

@media only screen and (max-width: 960px) {
  #contact-form-section {
    flex-direction: column;
    height: fit-content;
    padding-bottom: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .backdrop {
    position: static;
    background: none;
    justify-content: center;
  }

  .container {
    width: 80%;
    padding: 10px 15px;
    margin-left: 0;
    margin-top: 20px;
  }

  .bookstore-info {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .input-box, .contact-purpose  {
    width: calc(100% - 50px);
  }

  .submit-btn input[type=submit],
  .reset-btn input[type=reset] {
    margin: 5px 0;
  }
}